body {
    margin: 0;
}

header {
    background-color: #607D8B;
    font-size: 28px;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 10px;
}

.output {
    margin: 10px;
}

.country-info {
    padding: 0;
    margin: 0;
}

.country-info::before {
    content: "•";
    padding: 5px;
}

h2 {
    font-weight: bold;
}

.all-countries>h2::before {
    content: url("globe.svg");
    filter: var(--filter-black);
}

.snowy-countries>h2::before {
    content: url("snowflake.svg");
    filter: var(--filter-black);
}

:root {
    --filter-black: invert(12%) sepia(100%) saturate(21%) hue-rotate(2deg) brightness(2%) contrast(0%);
}